@page "/"


<div>
     <h3>Película</h3>

     <h4>Ejemplo foreach</h4>

      @foreach (var pelicula in ObtenerPeliculas())
    {
        <div>
            <p>Título: <b>@pelicula.Titulo</b></p>
            <p>Fecha lanzamiento: <b>@pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }

    <h4>Ejemplo for</h4>

    @for (int i = 0; i < Peliculas.Count; i++)
    {
        <div>
            <p>@(i+1))Título: <b>@Peliculas[i].Titulo</b></p>
            <p>Fecha lanzamiento: <b>@Peliculas[i].FechaLanzamiento.ToString("dd MMM yyyy")</b></p>
        </div>
    }

</div>

@code{
    string nombre = "Guilhermo";

    Pelicula WakandaForever {get { return ObternerPelicula(); }}

    List<Pelicula> Peliculas {get { return ObtenerPeliculas(); }}

    Pelicula ObternerPelicula()
    {
        return new Pelicula
            {
                Titulo = "Wakanda Forever",
                FechaLanzamiento = new DateTime(2022, 11, 11)
            };
    }

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo = "Wakanda Forever", FechaLanzamiento = new DateTime(2022, 11, 11)},
            new Pelicula{Titulo = "Moana", FechaLanzamiento = new DateTime(2016, 11, 23)},
            new Pelicula{Titulo = "Inception", FechaLanzamiento = new DateTime(2010, 7, 16)},

        };
    }

    void ManejarClickBoton()
    {
        Console.WriteLine("Me han clickeado desde una función!");
    }
}